.container_btn {
  margin: 0 2px;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  width: max-content;
  background: var(--green);
  color: var(--white);
  font-weight: bold;
}

.btn:hover {
  background: var(--darkPink);
}

.btn:disabled {
  background: var(--green);
}
