.card {
  width: 250px;
  height: max-content;
  min-height: 150px;
  margin: 1.5%;
  border: 3px solid var(--lightGrey);
  border-radius: 15px;
  padding: 0.5% 1%;
  color: var(--darkGrey);
}

.principal_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5% 0;
}

.title {
  font-size: 12px;
  padding-right: 5%;
  line-height: 1.5;
  margin: 0;
  max-width: 135px;
}

.img {
  width: 90px;
  height: 90px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
