.footer {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2.5% 2%;
  background: var(--green);
  color: var(--white);
  align-items: initial;
}

.no_mg {
  margin: 0;
}

@media (min-width: 540px) {
  .footer {
    align-items: center;
    flex-direction: row;
    padding: 0.5% 2%;
  }
}
