:root {
  --black: #000;
  --lightGrey: rgba(241, 241, 241, 0.932);
  --darkGrey:rgb(148, 143, 143);
  --lightPink: #d4bbd77c;
  --darkPink: #E44FCD;
  --green: #59C0B0;
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
